<div class="w-container">
  <h2><%= raw @producto.name %></h2>
</div>
<div class="trisection">
    <div class="w-container service-columns">
      <div class="w-row">
        <div class="w-col w-col-12 tricol">
          <div class="w-clearfix triblock">
            <%= raw @producto.fabricante %>
          </div>
        </div>
        <div class="w-col w-col-12 tricol">
          <div class="w-clearfix triblock">
            <%= raw @producto.propiedades %>
          </div>
        </div>
        <div class="w-col w-col-12 tricol">
          <div class="w-clearfix triblock">
            <%= raw @producto.aplicaciones %>
          </div>
        </div>
        <div class="w-col w-col-12 tricol">
          <div class="w-clearfix triblock">
            <%= raw @producto.disponibilidad %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
