<div class="social">
    <div class="w-container icons">
<%= link_to image_tag("icon_linkedin_color.jpg", { :class => "social-icon" } ), "http://www.linkedin.com" %>
<%= link_to image_tag("icon_gplus_color.jpg", { :class => "social-icon" } ), "http://www.google.com" %>
<%= link_to image_tag("icon_face_color.jpg", { :class => "social-icon" } ), "http://www.facebook.com" %>
<%= link_to image_tag("icon_twit_color.jpg", { :class => "social-icon" } ), "http://www.twitter.com" %>	
<span class="telefono"> | </span><span class="telefono" href="#">Av. Benavides 2035 - Miraflores </span><span class="telefono"> | </span><a class="telefono" href="tel:012734730">Telf: (00511) 273 4730</a>
    </div>
  </div>
<div class="section" id="page-nav-services">
  <div class="section" id="page-nav-top">
    <div class="w-container">
        <div class="w-clearfix cabeza">
          <img class="company-logo" src="assets/logo.png"
          width="240" alt="Platensa"><%= render(:partial => "/refinery/menu", :locals => {
		             :dom_id => 'menu',
		             :css => 'navlist'
		           }) %>
        </div>
     </div>
   </div>
 </div>