<div class="social">
    <div class="w-container icons">
      <%= link_to image_tag("icon_twitter.png", { :class => "social-icon" } ), "http://www.twitter.com" %>
	  <%= link_to image_tag("icon_face.png", { :class => "social-icon" } ), "http://www.facebook.com" %>
	  <%= link_to image_tag("icon_rss.png", { :class => "social-icon" } ), "http://www.rss.com" %>
    </div>
  </div>
<div class="section" id="page-nav-services">
  <div class="section" id="page-nav-top">
    <div class="w-container">
      <div class="w-row topmenu">
        <div class="w-col w-col-3 w-clearfix logo-bar">
<h1 id='logo'>
  <%= image_tag("logo.png", :border => 0, :size => "202x50") %>
</h1>
</div>
<div class="w-col w-col-9 nav-bar topi">
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
	       </div>
       </div>
     </div>
   </div>
 </div>