<div class="trisection">
  <div class="w-container service-columns">
    <div class="w-row">
      <div class="w-col w-col-6 tricol">
        <div class="w-clearfix triblock" id="izquierdo"	>
	<h2 class="ertalon">Formulario de contacto</h2>
	<p>Puede ponerse en contacto con nosotros llenando el siguiente formulario:</p>
<% content_for :body_content_left do %>
  <div class='inquiries'>
    <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
      <div class="field">
        <%= f.required_label :name, :class => 'placeholder-fallback' %>
        <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="field">
        <%= f.required_label :email, :class => 'placeholder-fallback' %>
        <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="field">
        <%= f.label :phone, :class => 'placeholder-fallback' %>
        <%= f.text_field :phone, :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
        <div class="field">
          <%= f.label :empresa, :class => 'placeholder-fallback' %>
          <%= f.text_field :empresa, :class => 'text empresa', :placeholder => t('empresa') %>
        </div>
      <div class='field message_field'>
        <%= f.required_label :message, :class => 'placeholder-fallback' %>
        <%= f.text_area :message, :rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="actions">
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :class => "telefono", :style => "color:black", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
      </div>
    <% end %>
  </div>
<% end %>
<%= render :partial => "/refinery/content_page" %>
</div></div>
  <div class="w-col w-col-6 tricol" id="derecho">
    <div class="w-clearfix triblock">
	<h2 class="ertalon">Oficina</h2>
	<p class="pdetalles">Av. Benavides 2035 - Miraflores, teléfono (00511) 273 4730</p>
	<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=Av+Benavides+2035,Miraflores,LIMA,PE&zoom=16&size=420x220&maptype=roadmap&sensor=false", :class => 'mapita', :alt => 'Miraflores' %>
	</div>
    <div class="w-clearfix triblock">
	<h2 class="ertalon">Talleres</h2>
	<p class="pdetalles">Calle Talara 165 - San Juan de Miraflores</p>
	<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=Calle+Talara+165,San+Juan+de+Miraflores,LIMA,PE&zoom=16&size=420x220&maptype=roadmap&sensor=false", :class => 'mapita', :alt => 'Miraflores' %>
	</div>	
</div>
    </div></div></div>
<script language="javascript" type="text/javascript">
	var maximo=Math.max($("#izquierdo").height(),$("#derecho").height())+25;
	$("#izquierdo").height(maximo);
	$("#derecho").height(maximo);
</script>